.container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  .container_wrap {
    .header {
      margin-top: 60px;
      text-align: center;

      h1 {
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }

      .taglines {
        margin: 0;
        color: #898989;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 20px;
      }
    }

    .pargo-tracking {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      max-width: 600px;
      .search-input {
        width: 100%;
      }

      label {
        color: black;
      }

      .search-input {
        width: 100%;
        // border: 1px solid #000;
        border-radius: 10px 0px 0px 10px;
        border-right-width: 0px;
      }

      .search-btn {
        button {
          background-color: yellow;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .container_wrap {
      .header {
        text-align: center;
        width: 100%; /* Make the width full for small screens */

        h1 {
          font-size: 16px; /* Adjust the font size for small screens */
        }

        .taglines {
          font-size: 14px; /* Adjust the font size for small screens */
          line-height: 18px; /* Adjust the line height for small screens */
        }
      }

      .pargo-tracking {
        margin: 40px 20px 0px 20px;
      }
    }
  }
}

:host ::ng-deep .p-button {
  background-color: #fff200 !important;
  color: black !important;
  border: 1px solid black;
  border-radius: 0px 10px 10px 0px;
}

:host ::ng-deep .p-float-label {
  width: 100%;
}
